@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <section class=" container-top">
        <div class="item1 container-top-no-border">
            <img class="top-section-image" src="~/Resources/Images/HomePageImage.png">
        </div>
        <div class="item2 container-top-no-border ">
            <h2 class="header-title"> About this website</h2>
            <br>
            <p class="container-top-text">
                This is the official Media Bazaar Employee's website. Here you can see your schedule and send your schedule preferences.
            </p>
            <br>
        </div>
    </section>
</div>
<div>
    <section class="container1">
        <img class="in-text-image-left" src="~/Resources/Images/Schedule-homepage.png">
        <br> <br>
        <h2 class="h2"> Schedule</h2>
        <p>
            After loging in, you can visit the schedule page to see your current and past schedules, so you can always be informed about your shifts. 
       </p>
 <br>    <br>   <br>   <br>   
    </section>
</div>
<div>
    <section class="container2">
        <img class="in-text-image-right" src="~/Resources/Images/Shift-Preferences.png">
        <h2 class="h2"> Schedule Preferences</h2>
        <p>
           After loging in, you can visit the Schedule preferences page. There you can submit your Shift preferences, so your manager can take them into account when assigning the shifts.
       </p>
 <br>    <br>   <br>   <br>   
    </section>
</div>	
 <br>    <br>   <br>   <br>   
